@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  background-color: #ebebeb;
}

.logo:hover{
  opacity: 0.6;
  transition: 0.4s ease;
}

.box{
  box-shadow: 0 0 10px rgba(151, 151, 151, 0.1);
}

.animation{
  opacity: 0;
  animation: animation 0.5s forwards;
}

@keyframes animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}